<!DOCTYPE HTML>
<html lang="pt-BR">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/estilo.css') }}">


<head>
    <meta charset="UTF-8">

    <title>Cadastro de trabalho</title>
    <link href="css/estilo.css" rel="stylesheet">
    <script	src="js/front.js"></script>
</head>

<body>

<header id="cabecalho">

    	<a href="/index" id="logo">

        <img src="../static/imagens/logo.png" alt="Logomarca da Empresa">

        <nav id="menu-principal">
            <ul>
                <li><a href="/index">Pagina Inicial</a></li>
            </ul>
        </nav>

</header>

<div class="fotoprincipal"></div>

    <section id="conteudo-form">

        <article class="conteudo-principal-form">
          <h1>Cadastro de trabalho acadêmico</h1>
          <br>
            <form action="/upload" enctype="multipart/form-data" method="POST">
              <label for="Titulo">Título:</label>
              <input type="text" id="name" placeholder="Título" name="name">
              <br>

              <label for="Autores">Autores:</label>
              <input type="text" id="autores" placeholder="Autores" name="autores">
              <br>

              <label for="Orientadores">Orientadores:</label>
              <input type="text" id="orientadores" placeholder="Orientadores" name="orientadores">
              <br>

              <label for="Instituicao">Instituicao de ensino:</label>
              <input type="text" id="instituicao" placeholder="Instituição" name="instituicao">
              <br>

              <label for="Tipo">Tipo:</label>
              <input type="text" id="tipo" placeholder="Tipo" name="tipo">
              <br>

              <label for="palavras">Palavras chave:</label>
              <input type="text" id="palavras_chave" placeholder="Palavras chave" name="palavras_chave">
              <br>

              <label for="resumo">Resumo:</label>
              <textarea type="subject" id="resumo" name="resumo" placeholder="Resumo" style="height:200px"></textarea>
              <br>

              <label for="file">Arquivo:</label>
              <input type="file" id="file" name="file">
              <br>
              <br>
              <button class="botaoSecundario" onClick="enviarTrab()" type="submit" accept=".pdf">Enviar</button>
            </form>

            <br>
        </article>
    </section>

</body>
</html>